* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 2fr 4fr;
    /* background-color: bisque; */
    padding: 0 100px;
    border-bottom: #33333325 solid 1px;
}

nav .nav-links {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

nav .logo {
    padding-left: 20px;
    padding: 10px 0;
    border-radius: 20px;
}

nav .nav-links a {
    text-decoration: none;
    color: #333333cb;
    font-weight: 400;
    
}

nav .nav-links a:hover {
    color: rgb(255, 81, 0);
}

.active {
    color: rgb(255, 81, 0) !important;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading>.head3 {
    font-size: 70px;
}

.heading, .heading-image {
    width: 50%;
    text-align: center;
}
.heading-image img {
    width: 100%;
    text-align: center;
    
}

.heading p {
    padding-top: 15px;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
}

.intro {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section2 {
    padding: 100px;
    background-color: #F5F6EA;
}

.intro h2 {
    font-size: 35px;
}

.squares>.square {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 20px;
}

.card {
    /* font-family: "Roboto", sans-serif; */
    color: #333;
    max-width: 400px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 15px;
}

.card .image {
    width: 100%;
    height: 150px;
    padding-bottom: 10px;
}

.card .image img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .text, .card .title {
    padding: 0 15px;
}


.card .text {
    padding-top: 10px;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.5;
    font-style: normal;
}

.square .card:not(:last-child) {
    margin-right: 20px;
}